.top-section{
    border: 1px solid black;
    // background-size: cover;
    background-image: url(/assets/organize.jpg);
    // background-color: @primary-color;
    color: black;
    height:700px;
    
    h1{
        font-size: 20rem;
        text-align: center;
        color: @secondary-color;
        
      
    }

    p{
        font-size: 8rem;
        text-align: center;
        color: @secondary-color;
    }
}