.top-section{
    border: 1px solid black;
    background-size: cover;
    
    background-image: url(/assets/arctic.jpg);
    background-color: @primary-color;
    justify-content: center;
    height:700px;
    text-align: center;

    
    h1{
        font-size: 20rem;
        text-align: center;
        color: @secondary-color;
        
      
    }

    h2{
        font-size: 8rem;
        text-align: center;
        color: @secondary-color;
        margin-bottom: 30px;
    }

    .btn{
        display: flex;
        justify-content: center;
        
        
        


        button{
            margin-top: 50px;
            font-size: 2rem;
            border-radius: 15px;
            width:150px;
            height: 100px;
            background-color: @primary-color;
            color: @secondary-color;
        }
    }
}